<template name="UniRiver">
    {{#each getActivities query options}}
        {{> uniDynamic 'UniRiverActivity'}}
    {{/each}}
</template>

<template name="UniRiverActivity">
    <div class="row">
        <div class="col-sm-12">
            <b>{{> UniRiverMessage}}</b> - {{timeAgo}}
        </div>
    </div>
</template>

<template name="UniRiverActor">
    {{#with actor}}
        <a href="{{pathFor 'uniProfile'}}">{{name}}</a>
    {{/with}}
</template>

