<template name="UniRiverMessage-default">
    {{> uniDynamic 'UniRiverActor'}} {{action}} {{o.type}}
    {{#with o}}
        {{#if route}}
            <a href="{{pathFor route}}">{{{title}}}</a>
        {{else}}
            {{{title}}}
        {{/if}}
    {{/with}}
</template>